.sectionHeader{
    display: flex;
    flex-direction: column;
    padding: $padding*5 0 $padding ;
    &-title{
        text-align: center;
        margin-bottom: $margin;
        text-transform: uppercase;  
    }
    &-btn{        
        align-self:baseline;
        
    }
}
@include mobile{
    .sectionHeader{
        &-btn{
            align-self: auto;
        }
    }
}