.youtubeCard{
    padding: $padding;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    &-iframe{
        max-height: 250px;
    }
    &-info{
        display: flex;
        flex-direction: column;
        padding:$padding 0;
    }
    &-title{
        text-transform: uppercase;
        margin-bottom: $margin;
    }
    &-date{
        margin:$margin 0;
        color:$subtext-color
    }
    &-description{
        text-overflow: ellipsis;
        margin-bottom: $margin;
        overflow: hidden;
        max-height: 100px;
    }
    &-buttonGroup{
        display: flex;
        justify-content: space-evenly;
        
    }
    &-btn{
        padding: $padding;
        background-color: $secsses-color;
        color:#fff;
        border: 3px solid darken($secsses-color,10%);
        border-radius: 5px;
        text-transform: uppercase;
    }
}
@include mobile{
    .youtubeCard{
        &-buttonGroup{
            display: flex;
            flex-direction: column;            
        } 
    }
}