.youtubeCard{
    padding: $padding;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    height: 100%;
    &-iframe{
        max-height: 250px;
    }
    &-info{
        display: flex;
        flex-direction: column;
        padding:$padding 0;
        justify-content: space-between;
        height: 100%;
    }
    &-title{
        text-transform: uppercase;
        margin-bottom: $margin;
    }
    &-date{
        margin:$margin 0;
        color:$subtext-color
    }
    &-description{
        text-overflow: ellipsis;
        margin-bottom: $margin;
        overflow: hidden;
        max-height: 100px;
    }
    &-buttonGroup{
        display: flex;
        justify-content: space-evenly;
        
    }
    &-statistics{
        padding: $padding 0;
        display: flex;
        justify-content: flex-start;
        &-item{
            margin-right: $margin;
            &:last-child{
                margin: 0;
            }
        }
        &-ico{
            margin-right:$margin/2;
        }
    }
    &-likes{
        color:$danger-color;
    }
    &-dislikes{
        color:$grey-color;
    }
    &-views{
        color:$info-color;
    }
    &-commentsCount{
        color:$info-color;
    }
}
@include mobile{
    .youtubeCard{
        &-buttonGroup{
            display: flex;
            flex-direction: column;            
        } 
    }
}